version: '3.8'

services:
  minion1:
    image: aetile/salt-minion-secured:1.0
    container_name: minion1
    hostname: minion1
    stdin_open: true
    tty: true
    extra_hosts: [ "salt:${MASTER_IP}" ]
    network_mode: bridge
  minion2:
    image: aetile/salt-minion-secured:1.0
    container_name: minion2
    hostname: minion2
    stdin_open: true
    tty: true
    extra_hosts: [ "salt:${MASTER_IP}" ]
    network_mode: bridge
  minion3:
    image: aetile/salt-minion-secured:1.0
    container_name: minion3
    hostname: minion3
    stdin_open: true
    tty: true
    extra_hosts: [ "salt:${MASTER_IP}" ]
    network_mode: bridge
